.boton{
    width: 80%;
    min-height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.padre{
    width: 20%;
    min-width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1 {
    min-width: 60%;
    min-height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item2 {
    padding: 1px;
    min-height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item3 {
    outline: none;
    padding: 1px;
    min-height: 100%;
    text-align: center;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item4{
    outline: none;
    min-height: 100%;
    padding: 1px;
    text-align: center;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    min-width: 70%;
    margin: 0 10% 0 10%;
    box-sizing: border-box;
    padding: 10px 0;
    border-bottom: 2px solid white;
    display: flex;

}

.option{
    position: absolute;
    z-index: 9999;
    max-width: 70%;
}

.abuelo{
    display: flex;
    padding: 0;
    margin: 0;
    outline: none;
}

.modal{
    border: 2px solid black;
}

.container h4{
    margin: 0;
    padding: 10px;
}

.container:nth-last-child(1){
    border-bottom: none;
}

/* .boton {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: #6b64f3;
    color: white;
    font-weight: 600;
} */