.contenedor{
    background-color: lightgray;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 2rem;
    display: flex;
}

.input{
    background-color: transparent;
    outline: none;
    border: 0;
    flex: 1;

}